# Ignore Development Files
compass_app_log.txt
*.DS_Store
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.sass-cache

# Composer files
composer.lock
docroot
vendor/
*/*/*/vendor
*/*/vendor

# Node
node_modules/
bower_components/

# PhpStorm
.idea

# SASS
.sass-cache
*.sass-cache*
**/sass/*.css

# WxT
test-results
files_private/
