<div class="row">
  {% if content.header %}
  <div class="col-md-12">
    {{ content.header }}
  </div>
  {% endif %}
</div>
<div class="wb-eqht row">
  {% if content.services %}
  <div class="col-md-12">
    {{ content.services }}
  </div>
  {% endif %}
</div>
