/* Icons on text format admin UI */
.ckeditor5-toolbar-button-alert {
	background-image: url(../icons/alert.svg);
}

.ckeditor5-toolbar-button-panel {
	background-image: url(../icons/panel.svg);
}

.ckeditor5-toolbar-button-insertWXTTabs {
	background-image: url(../icons/tab.svg);
}

.ckeditor5-toolbar-button-cite {
	background-image: url(../icons/cite.svg);
}

.ckeditor5-toolbar-button-conjunction {
	background-image: url(../icons/conjunction.svg);
}

/* Fix styles for details and tabs in CKEditor5 */
.ck-content .wb-tabs details,
.ck-content .wb-tabs details summary,
.ck-content .wb-tabs > .tabpanels > details[open] > summary {
	display: block !important;
}

.ck-content cite.ck-editor__editable {
	background: #efefef;
	border: 1px dotted #333 !important;
}

.ck-content details {
	border-radius: 4px;
	margin: 10px 0px;
}

.ck-content .wb-tabs {
	padding: 15px;
 	background: #efefef;
 	display: flex;
    flex-direction: column;
}

.ck-content .wb-tabs-label {
    order: -1;
    margin-bottom: 5px;
  	font-style: italic;
}

.ck-content .wb-tabs .tabpanels {
	background: #ffffff;
	padding: 10px;
}

.ck-content .wb-tabs details .details-wrapper {
	margin: 6px -12px -6px -12px;
}

/* Conjunctions */
.ck-content .cnjnctn-type-or,
.ck-content .cnjnctn-type-and {
	padding: 15px;
 	background: #efefef;
 	display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.ck-content ul.cnjnctn-type-or,
.ck-content ul.cnjnctn-type-and {
	margin-left: 0px;
	list-style: none;
}

.ck-content .wb-conjunction-label {
    order: -1;
    margin-bottom: 5px;
  	font-style: italic;
}

.ck-content .cnjnctn-col {
	background: #ffffff;
	padding: 10px;
	margin-bottom: 15px;
}
