.ckeditor5-toolbar-button-alert {
    background-image: url(../icons/simpleBox.svg);
}

.ckeditor5-toolbar-button-panel {
    background-image: url(../icons/simpleBox.svg);
}

.ckeditor5-toolbar-button-andor {
    background-image: url(../icons/simpleBox.svg);
}